
mark {
    background-color: cyan;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
   
h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
    
p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
   
abbr[title] {
    border-bottom: none;
    text-decoration: none;
}